* {
  font-family: sans-serif;
  line-height: 1.6 em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  margin-top: 3em;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

header {
  outline-offset: 25em;
  font-weight: bold;
  text-shadow: 1.2px 1.2px rgb(139, 196, 128);
}

span {
  font-size: 2em;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  padding: 7px 0;
}

h2 {
  text-shadow: 0.6px 0.6px;
  padding-bottom: 5px;
}

body {
  background-color: beige;
}

.bioButtonShow {
  background-color: rgb(40, 31, 97);
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2),
    0 20px 40px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  color: rgb(189, 218, 122);
  padding: 0 2.5em;
}

#aboutMe img {
  max-width: 50%;
  border: solid 5px;
}

.aboutMeModalBox {
  display: none;
}

.aboutMeModalBoxShow {
  display: block;
}

main {
  padding-left: 2em;
  background-color: cadetblue;
  max-width: 100%;
  margin: 0 auto;
}

p {
  text-indent: 2em;
  padding: 0.8em;
  text-shadow: 0.4px 0.4px;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
}

nav a:hover {
  background: #666;
}

.projectLinks {
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.codeScreenShots {
  border: solid black 2px;
}
section {
  padding-top: 2em;
}

section img {
  width: 50%;
  transition: 2s;
}

.onHover {
  width: 150%;
  transition: 2s;
}

section a {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0.3px 0.3px;
}

section a:hover {
  color: darkred;
}

main section #contact {
  list-style-type: none;
}

#ambitionButton {
  transition: 2s;
}

.bloom {
  font-size: 300%;
  font-weight: bold;
  color: yellow;
  transition: 2s;
}

.projects {
  display: none;
  transition: 2s;
}

.projectsDisplay {
  display: grid;
}

footer {
  margin-top: 2em;
  margin-bottom: 1em;
  background: #999;
  color: #fff;
  padding: 1em;
  text-align: center;
}
